{{ attach_library('zurb_video_field/main-config') }}
{% if url %}
{# Show the item inside a responsive-embed container. #}
<div class="responsive-embed">
  <iframe width="420" height="315" src="{{ url }}" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}